---
import { Image } from "astro:assets";

const { title, image } = Astro.props;
---
<div class="relative h-96 w-64 overflow-hidden rounded-lg shadow-lg hover:scale-110 transition-all duration-500 cursor-pointer">
    <Image 
      src={image} 
      alt={title} 
      class="absolute inset-0  h-full w-full object-cover  "
    />
    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center ">
      <h2 class="text-white text-2xl font-bold">{title}</h2>
    </div>
  </div>
