---
import { Image } from "astro:assets";
import HeroImage from "../../assets/img/nibble.png";

import ModalContactLanding from "./ModalContactLanding.astro";
const content = {
  title: "Contactanos y haz que tus ideas cobren vida",
  description: "¿Estas listo para emprender el viaje hacia la virtualización de tus ideas con soluciones a la medida y realizadas exclusivamente para que cumplas tus objetivos",
  link: "",
  buttonName: "Contactanos"
}
---

<section class="relative min-h-screen pt-40 bg-contactbg bg-cover bg-center bg-no-repeat flex flex-col justify-center w-full">
  <div class="w-full h-full top-0 bg-black bg-opacity-50 absolute backdrop-blur-sm"></div>
  
  <div class="flex flex-col max-w-screen-xl relative z-10 w-full items-center lg:flex-row px-8 mx-auto">
    <div class="lg:w-1/2">
      <Image
        src={HeroImage}
        class="w-full object-cover"
        alt="TryCatch.tv Nibble"
      />
    </div>

    <article class="mb-4">
      <h1 class="max-w-xl mb-5 text-4xl text-white font-extrabold tracking-tight leading-none md:text-5xl text-center xl:text-6xl lg:mb-8 lg:text-start">
        {content.title}
      </h1>
      <p class="max-w-xl text-white text-balance font-semibold mb-5 lg:max-w-md lg:mb-14 lg:text-start text-center">
        {content.description}
      </p>
      <div class="flex justify-center gap-2 mb-5 lg:justify-start lg:mb-14 max-sm:mt-5 md:justify-center">
        <a
          class="max-w-[300px] cursor-pointer transition-all duration-500 min-w-[300px] h-10 py-2.5 px-3 me-2 mb-2 text-sm text-center font-medium text-white focus:outline-none bg-tcf-blue rounded-full border border-tcf-gray hover:bg-tcf-gray-l hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-tcf-gray-l"
          onclick="openModal()"
        >
          {content.buttonName}
        </a>
      </div>
    </article>
  </div>

  <!-- Modal HTML -->
  <div id="myModal" class="flex justify-center items-center fixed inset-0    bg-black bg-opacity-50  z-50">
    
    <ModalContactLanding></ModalContactLanding>

  </div>
</section>

<!-- JavaScript -->
<script is:inline>
  function openModal() {
    document.getElementById("myModal").classList.remove("hidden");
  }

  function closeModal() {
    document.getElementById("myModal").classList.add("hidden");
  }

  // Close the modal when the user clicks anywhere outside of the modal
  window.onclick = function(event) {
    const modal = document.getElementById("myModal");
    if (event.target === modal) {
      modal.classList.add("hidden");
    }
  }
</script>
