---
import { Image } from "astro:assets";
---

<section
  class="relative min-h-screen pt-40 bg-heroBgImgResources bg-cover bg-center bg-no-repeat flex flex-col justify-center w-full"
>
  <div class="flex flex-col w-full lg:flex-row bg-tcf-blue h-3/4 py-44">
    <dviv
      class="flex flex-col justify-center px-10 py-10 bg-tcf-blue w-full lg:relative lg:z-10"
    >
      <h1 class="text-5xl text-white">Recursos digitales - TryCatch Factory</h1>
      <h2 class="text-2xl text-white">
        Accede a todos nuestros cursos, guías, videos
      </h2>
    </dviv>
  </div>
</section>; ---
