---
const { title } = Astro.props;
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const titleProject = t("nameprojectpartOne");
const titleProjectTwo = t("nameprojectPartTwo");
---

<script >
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.utils.toArray("#project").forEach((element: any) => {
        gsap.fromTo(
            element,
            {
                opacity: 0,
                y: 50,
            },
            {
                opacity: 1,
                y: 0,
                duration: 1,
                scrollTrigger: {
                    trigger: element,
                    start: "top 80%", // Comienza la animación cuando el elemento está en el 80% de la ventana
                    end: "top 50%", // Termina la animación cuando el elemento está en el 50% de la ventana
                    scrub: 1, // La animación sigue el scroll de manera suave
                },
            },
        );
    });
</script>
<section
    class="h-[332px] max-sm:min-h-screen min-w-screen-2xl flex flex-row items-center justify-evenly bg-gradient-to-l from-blue-900 via-gray-50 to-gray-50 flex-wrap" id="project"
>
    <h1
        class="text-4xl text-tcf-blue w-3/4 p-7 max-sm:p-0 sm:p-0"
        id="nameproject"
    >
        {titleProject} {title} {titleProjectTwo}
    </h1>
    <button
        class="bg-white text-tcf-blue rounded-full h-16 w-[372px] mx-3 font-bold max-sm:mx-0 sm:mx-0"
        >Call To Action</button
    >
</section>
