---
import { Image } from "astro:assets";
import process from "../../assets/img/process.png";
import metodology from "../../assets/img/metodology.jpg";
---

<div class="flex flex-col bg-[#172554]">
  <div class="flex justify-center flex-grow max-w-screen-xl mx-auto mb-20 mt-4">
    <div class="mt-2 w-12/12 h-auto">
      <div class="flex gap-10 flex-row flex-grow max-sm:flex-col">
        <!---Espacio para imagen o video -->
        <div class="w-5/12 flex justify-center items-center max-sm:order-2 max-sm:w-full">
          <Image
            src={process}
            class="size-96 rounded-md mr-"
            alt="TryCatch.tv process"
          />
        </div>

        <div class="flex flex-col gap-10 ml-10 w-1/2 max-sm:order-1 max-sm:max-w-screen-sm max-sm:ml-0">
          <h2 class="font-bold text-2xl fon-inter mt-8 text-white max-sm:text-center">Proceso</h2>
          <div class="flex flex-row gap-2">
            <div>
              <p class="text-5xl font-bold text-white">1.</p>
            </div>
            <div>
              <p class="text-white max-sm:text-justify">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum,
                beatae ipsum ex, consequuntur voluptate nemo labore alias,
                placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum
                reiciendis ex quam iure nemo.
              </p>
            </div>
          </div>
          <div class="flex flex-row gap-2">
            <div>
              <p class="text-5xl font-bold text-white">2.</p>
            </div>
            <div>
              <p class="text-white max-sm:text-start">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum,
                beatae ipsum ex, consequuntur voluptate nemo labore alias,
                placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum
                reiciendis ex quam iure nemo.
              </p>
            </div>
          </div>
          <div class="flex flex-row gap-2">
            <div>
              <p class="text-5xl font-bold text-white">3.</p>
            </div>
            <div>
              <p class="text-white max-sm:text-start">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum,
                beatae ipsum ex, consequuntur voluptate nemo labore alias,
                placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum
                reiciendis ex quam iure nemo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex gap-10 flex-row max-sm:flex-col">
        <div class="flex flex-col gap-10 ml-10 w-1/2 mb-8 max-sm:max-w-screen-sm">
          <h2 class="font-bold text-2xl fon-inter mt-8 ml-2 text-white max-sm:text-center">
            Metodología
          </h2>
          <div class="flex flex-row gap-2 ">
            <div>
              <p class="text-5xl font-bold text-white">.</p>
            </div>
            <div>
              <p class="text-white" transition:name="">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum,
                beatae ipsum ex, consequuntur voluptate nemo labore alias,
                placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum
                reiciendis ex quam iure nemo.
              </p>
            </div>
          </div>
          <div class="flex flex-row gap-2">
            <div>
              <p class="text-5xl font-bold text-white">.</p>
            </div>
            <div>
              <p class="text-white">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum,
                beatae ipsum ex, consequuntur voluptate nemo labore alias,
                placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum
                reiciendis ex quam iure nemo.
              </p>
            </div>
          </div>
          <div class="flex flex-row gap-2">
            <div>
              <p class="text-5xl font-bold text-white">.</p>
            </div>
            <div>
              <p class="text-white">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum,
                beatae ipsum ex, consequuntur voluptate nemo labore alias,
                placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum
                reiciendis ex quam iure nemo.
              </p>
            </div>
          </div>
        </div>
        <!---Espacio para imagen o video -->
        <div class="w-5/12 flex justify-center items-center max-sm:w-full">
          <Image
            src={metodology}
            class="size-96 rounded-md mr-3"
            alt="TryCatch.tv process"
          />
        </div>
      </div>
    </div>
  </div>
</div>
