---

---
<div class="flex justify-center  max-h-max"> 
<div class="bg-tcf-gray-l mt-2 w-11/12   p-4" >
   <div class="flex gap-10 flex-row flex-grow">
      <!---Espacio para imagen o video -->
      <div class="w-5/12"></div>
         
         <div class="flex flex-col gap-10 ml-10 w-1/2   ">
            <h2 class="font-bold text-2xl fon-inter mt-8">Proceso</h2>
            <div class="flex flex-row gap-2">
               <div>
                  <p class="text-5xl font-bold">1.</p>
               </div>
               <div>
                  <p>
                     Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Cum, beatae ipsum ex, consequuntur voluptate nemo labore
                     alias, placeat aliquam ratione ab! Obcaecati, asperiores
                     quisquam! Cum reiciendis ex quam iure nemo.
                  </p>
               </div>
            </div>
            <div class="flex flex-row gap-2">
               <div>
                  <p class="text-5xl font-bold">2.</p>
               </div>
               <div>
                  <p>
                     Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Cum, beatae ipsum ex, consequuntur voluptate nemo labore
                     alias, placeat aliquam ratione ab! Obcaecati, asperiores
                     quisquam! Cum reiciendis ex quam iure nemo.
                  </p>
               </div>
            </div>
            <div class="flex flex-row gap-2">
               <div>
                  <p class="text-5xl font-bold">3.</p>
               </div>
               <div>
                  <p>
                     Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Cum, beatae ipsum ex, consequuntur voluptate nemo labore
                     alias, placeat aliquam ratione ab! Obcaecati, asperiores
                     quisquam! Cum reiciendis ex quam iure nemo.
                  </p>
               </div>
            </div>
         </div>
   </div>
   <div class="flex gap-10 flex-row   ">
      
         
      <div class="flex flex-col gap-10 ml-10 w-1/2 mb-8">
         <h2 class="font-bold text-2xl fon-inter mt-8">Metodología</h2>
         <div class="flex flex-row gap-2">
            <div>
               <p class="text-5xl font-bold">.</p>
            </div>
            <div>
               <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Cum, beatae ipsum ex, consequuntur voluptate nemo labore
                  alias, placeat aliquam ratione ab! Obcaecati, asperiores
                  quisquam! Cum reiciendis ex quam iure nemo.
               </p>
            </div>
         </div>
         <div class="flex flex-row gap-2">
            <div>
               <p class="text-5xl font-bold">.</p>
            </div>
            <div>
               <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Cum, beatae ipsum ex, consequuntur voluptate nemo labore
                  alias, placeat aliquam ratione ab! Obcaecati, asperiores
                  quisquam! Cum reiciendis ex quam iure nemo.
               </p>
            </div>
         </div>
         <div class="flex flex-row gap-2">
            <div>
               <p class="text-5xl font-bold">.</p>
            </div>
            <div>
               <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Cum, beatae ipsum ex, consequuntur voluptate nemo labore
                  alias, placeat aliquam ratione ab! Obcaecati, asperiores
                  quisquam! Cum reiciendis ex quam iure nemo.
               </p>
            </div>
         </div>
      </div>
        <!---Espacio para imagen o video -->
      <div class="w-5/12"></div>
   </div>
 
  
   </div>
</div>
   
  
         
   
   

  
    