---
import { Image } from "astro:assets";
import ourProud from "../../assets/img/ourProud.svg";
---

<section class="flex items-center bg-heroBgImgTeam relative bg-cover  bg-center bg-no-repeat min-h-[60vh]">
  <div class="w-full h-full top-0 bg-black bg-opacity-50 absolute backdrop-blur-sm">

  </div>
  <div class="max-w-screen-xl relative mx-auto">
    <div
    class="p-8 flex flex-col-reverse items-center md:flex-row"
    >
    <div class="col-lg-6 w-full flex  justify-center">
      <Image alt={"ourProud"} src={ourProud} />
    </div>
      <div>
        <h1 class=" text-center font-bold text-4xl text-white">
          Nos enorgullece impulsar el talento emergente con un enfoque
          inclusivo.
        </h1>
      </div>
    </div>
  </div>
</section>
