---
import { Image } from "astro:assets";
import team from "../../assets/img/dev.webp";

const content = {
  title: "Conoce a nuestro equipo de trabajo",
  description:
    "Contamos con un equipo de expertos apasionados y dedicados a entregar soluciones tecnológicas de alta calidad. Descubre quiénes somos y cómo podemos ayudarte.",
  image: {
    description: "TryCatch.tv Nibble",
  },
};

---

<section
  class="relative min-h-screen pt-40 bg-heroBgImgTeam bg-cover bg-center bg-no-repeat flex flex-col justify-center w-full"
>
  <div
    class="w-full h-full top-0 bg-black bg-opacity-50 absolute backdrop-blur-sm"
  >
  </div>
  <div
    class="flex flex-col max-w-screen-xl relative z-10 w-full items-center lg:flex-row px-8 mx-auto"
  >
    <article class="mb-4 md:w-2/3">
      <h2
        class="max-w-xl mb-5 text-4xl text-white font-extrabold tracking-tight leading-none md:text-5xl text-center xl:text-6xl lg:mb-8 lg:text-start"
      >
        {content.title}
      </h2>
     
    </article>

    <div class="lg:w-1/2">
      <Image src={team} alt={content.image.description} />
    </div>
  </div>
</section>
