---
import { Image } from "astro:assets";
import HeroImage from "../../assets/img/worker_svgrepo.com.svg";

const content = {
  title: "Conoce a nuestro equipo de trabajo",
  description:
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",

  image: {
    url: "/src/assets/img/worker_svgrepo.com.svg",
    description: "TryCatch.tv Nibble",
  },
};
---

<section class="bg-tcf-blue flex flex-col pt-40 sm:pt-44 items-center justify-center w-full min-h-screen ">
  <div
    class="flex max-w-screen-xl flex-col items-center  md:flex-row md:text-start mx-auto px-8"
  >
    <article class="mb-4 md:w-4/5 lg:text-start">
      <h2
        class="max-w-2xl mb-5 text-center text-4xl text-white font-extrabold tracking-tight leading-none xl:text-6xl lg:mb-8 lg:text-start"
      >
        {content.title}
      </h2>
      <p
        class="w-full text-tcf-info max-w-2xl mb-5 text-center text-balance font-semibold lg:text-start md:text-base"
      >
        {content.description}
      </p>
    </article>
    <div class="lg:w-1/2">
      <Image
        class="w-full h-full"
        src={HeroImage}
        alt={content.image.description}
      />
    </div>
  </div>
</section>
