---
const technologyData = [
    {
        title: "Frontend",
        tecnologies: [
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
        ],
        quantity: 20,
        description: "Proyectos realizados.",
    },

    {
        title: "Backend",
        tecnologies: [
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
        ],
        quantity: 15,
        description: "Años de experiencia acumulada.",
    },
    {
        title: "Cloud",
        tecnologies: [
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
        ],
        quantity: 5,
        description: "Especialistas AWS certified.",
    },
    {
        title: "Mobile",
        quantity: 5,
        description: "lorem ipsum dolor sit amet.",
        tecnologies: [
        {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            },
            {
                name: "item",
                url: "https://www.smartphonetechnology.com.ec/static/products/images/default-image.jpg",
            }
        ],
    },
];
---

<section class="max-w-screen-xl p-6 mx-auto sm:py-12 lg:py-24">
    <h2 class="text-3xl font-bold leading-none sm:text-4xl text-center">
        Tecnologías
    </h2>
    <div class="flex gap-10 flex-wrap justify-center mx-auto mt-12">
        {
            technologyData.map((item) => (
                <div class="border rounded-xl py-6 px-2.5 md:px-8 max-w-xl">
                    <h3 class="text-xl font-bold leading-none sm:text-2xl text-center">
                        {item.title}
                    </h3>
                    <div class="flex flex-col md:flex-row gap-1 justify-center items-center my-5">
                        <strong>+{item.quantity}</strong>
                        <p class="text-center">{item.description}</p>
                    </div>
                    <div class="flex flex-wrap gap-1.5">
                        {item.tecnologies.map((tech) => (
                            <div class="h-24 rounded-xl border overflow-hidden place-content-between">
                                <img
                                    class="w-full h-full"
                                    src={ tech.url }
                                    alt={ tech.name }
                                    title={ tech.name }
                                />
                            </div>
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</section>
