---
import { Filter } from "lucide-astro";
---

<section
  class="flex flex-col mx-auto max-w-screen-2xl justify-center w-full min-h-[80vh] px-4 py-20"
>
  <div class="w-full flex mb-20 max-w-[400px]">
    <select id="itemSelect" class="w-full p-2 border border-gray-300 rounded">
      <option value="all">Todos</option>
      <option value="blog">Blogs</option>
      <option value="video">Videos</option>
      <option value="articulo">Articulos</option>
    </select>
  </div>
  <div class="flex w-full h-full flex-col">
    <!-- Select en la parte izquierda -->
    <!-- Tarjetas en la parte derecha -->
    <div
      id="cardContainer"
      class="w-full h-full flex flex-wrap justify-center md:justify-start gap-14"
    >
      <!-- Las tarjetas se insertarán aquí dinámicamente -->
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  // Registra el plugin ScrollTrigger
  gsap.registerPlugin(ScrollTrigger);

  const itemSelect: any = document.getElementById("itemSelect");
  const cardContainer: any = document.getElementById("cardContainer");

  const cardsData = [
    {
      id: 1,
      type: "video",
      title: "Video 1",
      description: "Descripción de la tarjeta 1.1",
      link: "https://example.com/video1",
      image: "",
    },
    {
      id: 2,
      type: "video",
      title: "Video 2",
      description: "Descripción de la tarjeta 1.2",
      link: "https://example.com/video2",
      image: "",
    },
    {
      id: 3,
      type: "articulo",
      title: "Artículo 1",
      description: "Descripción de la tarjeta 2.1",
      link: "https://example.com/articulo1",
      image: "",
    },
    {
      id: 4,
      type: "articulo",
      title: "Artículo 2",
      description: "Descripción de la tarjeta 2.2",
      link: "https://example.com/articulo2",
      image: "",
    },
    {
      id: 5,
      type: "blog",
      title: "Blog 1",
      description: "Descripción de la tarjeta 3.1",
      link: "https://example.com/blog1",
      image: "",
    },
    {
      id: 6,
      type: "blog",
      title: "Blog 2",
      description: "Descripción de la tarjeta 3.2",
      link: "https://example.com/blog2",
      image: "",
    },
  ];

  function renderCards(cards: any) {
    cardContainer.innerHTML = "";
    cards.forEach((card: any) => {
      const cardElement = document.createElement("div");
      cardElement.id = "rouserces";
      cardElement.className =
        "bg-gray-50 border p-4 shadow rounded flex items-center"; // Agregamos flexbox para alinear la imagen y el contenido
      cardElement.innerHTML = `
      <img src="${card.image}" class="w-16 h-16 mr-4" alt="Imagen recurso"> <!-- Agregamos la imagen -->
      <div>
        <h3 class="text-lg font-bold mb-2">${card.title}</h3>
        <p>${card.description}</p>
        <a href="${card.link}" target="_blank" class="mt-4 inline-block bg-tcf-blue hover:bg-gray-500 text-white py-2 px-4 rounded-full">Ver Recurso</a>
      </div>
    `;
      cardContainer.appendChild(cardElement);
      gsap.fromTo(
        "#rouserces",
        {
          opacity: 0,
          y: 50,
        },
        {
          opacity: 1,
          y: 0,
          duration: 1,
          ease: "power2.out",
          stagger: 0.3, // Añade un retardo entre cada tarjeta
          
        },
      );
    });
  }

  // Render initial cards
  renderCards(cardsData);

  // Add event listener to update cards based on select change
  itemSelect.addEventListener("change", (event: any) => {
    const selectedValue = event.target.value;
    if (selectedValue === "all") {
      renderCards(cardsData);
    } else {
      const filteredCards = cardsData.filter(
        (card) => card.type === selectedValue,
      );
      renderCards(filteredCards);
    }
  });
</script>
<script></script>
