---
 const {levelEstructureTeam,desarrollo} = Astro.props
 
---

<section
  class="relative bg-weOfferBgServices bg-cover bg-center bg-no-repeat flex flex-col justify-center w-full min-h-screen py-10"
>
  <!--div class="absolute bg-black/30 h-full w-full top-0 pt-8"></!--div> -->

  <div>
    <h1 class="text-5xl text-center text-white">¿Qué podemos ofrecerte?</h1>
    <div
      class="flex flex-col justify-center items-center gap-40 p-10 md:flex-row"
    >
      <div
        class="justify-star p-4 border-4 bg-white/60 rounded-xl w-[320px] h-[600px]"
      >
        <h2
          class="text-tcf-blue font-extrabold items-center text-xl p-4 h-[100px]"
        >
          A nivel estructural/equipo
        </h2>
        <ul class="list-disc p-2">
          {
            levelEstructureTeam.map((e:any)=>(
              <li>{e}</li>
            ))
          }
        </ul>
      </div>
      <div
        class="justify-star p-4 border-4 bg-white/60 rounded-xl w-[320px] h-[600px]"
      >
        <h2
          class="text-tcf-blue font-extrabold items-center text-xl p-4 h-[100px]"
        >
          Desarrollo
        </h2>
        <ul class="list-disc p-2">
          {desarrollo.map((e:any)=>(
            <li>{e}</li>
          ))}
        </ul>
      </div>
    </div>
  </div>
</section>
