---
const { levelEstructureTeam, desarrollo } = Astro.props;
---

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  gsap.fromTo(
    "#divtwo",
    {
      duration: 1,
      opacity: 0,
      y: 50,
      stagger: 0.2,
      ease: "power2.out",
    },
    {
      y: -20,
      opacity: 1,
      scrollTrigger: {
        trigger: "#web",
        start: "top 80%", // Start the animation when the top of the box hits 80% from the top of the viewport
        end: "top 20%", // End the animation when the top of the box hits 20% from the top of the viewport
        scrub: true,
      },
    },
  );
  gsap.fromTo(
    "#divone",
    {
      duration: 1,
      opacity: 0,
      y: 50,
      stagger: 0.2,
      ease: "power2.out",
    },
    {
      y: -20,
      opacity: 1,
      scrollTrigger: {
        trigger: "#web",
        start: "top 80%", // Start the animation when the top of the box hits 80% from the top of the viewport
        end: "top 20%", // End the animation when the top of the box hits 20% from the top of the viewport
        scrub: true,
      },
    },
  );
</script>
<section
  class="relative bg-weOfferBgServices bg-cover bg-center bg-no-repeat flex flex-col justify-center w-full min-h-screen py-10" id="web"
>
  <!--div class="absolute bg-black/30 h-full w-full top-0 pt-8"></!--div> -->

  <div>
    <h1 class="text-5xl text-center text-white font-bold">¿Qué podemos ofrecerte?</h1>
    <div
      class="flex flex-col justify-center items-center gap-40 p-10 md:flex-row"
    >
      <div
        class="justify-star p-4 border-4 bg-white/70 rounded-xl w-50 h-[600px]" id="divone"
      >
        <h2
          class="text-tcf-blue font-extrabold items-center text-xl p-4 h-[100px]"
        >
          A nivel estructural/equipo
        </h2>
        <ul class="list-disc p-4">
          {levelEstructureTeam.map((e: any) => <li class="list-disc text-xl p-2">{e}</li>)}
        </ul>
      </div>
      <div
        class="justify-star p-4 border-4 bg-white/70 rounded-xl w-50 h-[600px]" id="divtwo"
      >
        <h2
          class="text-tcf-blue font-extrabold items-center text-xl p-4 h-[100px]"
        >
          Desarrollo
        </h2>
        <ul class="list-disc p-4">
          {desarrollo.map((e: any) => <li class="list-disc text-xl p-2">{e}</li>)}
        </ul>
      </div>
    </div>
  </div>
</section>
