---
import Layout from "../../layouts/Layout.astro";
import HeroServices from "../../components/landing/HeroServices.astro";
import CallToActionLanding from "../../components/landing/CallToActionLanding.astro";
import WeOfferServicesLanding from "../../components/landing/WeOfferServicesLanding.astro";

export function getStaticPaths() {
  return [{ params: { service: "desarrollo-software" } }];
}
---

<Layout title="Servicios">
  <main class="min-h-screen mx-auto">
    <!-- contenido de aqui -->
    <HeroServices />
    <CallToActionLanding />
    <WeOfferServicesLanding />
  </main>
</Layout>
