---
import Layout from "../../layouts/Layout.astro";
import TeamLanding from "../../components/landing/TeamLanding.astro";
import ProfileLanding from "../../components/landing/ProfileLanding.astro";
import OurProudLanding from "../../components/landing/OurProudLanding.astro";
import OurDifferenceLanding from "../../components/landing/OurDifferenceLanding.astro";
---

<Layout title="Equipo">
  <main >
    <!-- contenido de aqui -->
    <TeamLanding />
    <ProfileLanding />
    <OurProudLanding />
    <OurDifferenceLanding />
  </main>
</Layout>
