---
import Layout from "../layouts/Layout.astro";
import ContactLanding from "../components/landing/contactLanding.astro";
---

<Layout title="Contacto">
    <main class="min-h-screen max-w-screen   bg-blue-500">
        <!-- contenido de aqui -->
       <ContactLanding></ContactLanding>
        <!-- hasta aqui --> 
    </main>
</Layout>