---
import HeroLanding from "../components/landing/HeroLanding.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <HeroLanding />
  <div>
    <h1 class="text-3xl font-bold underline">Factory!</h1>
  </div>
</Layout>
