---
import Layout from "../layouts/Layout.astro"
import CallToAction from "../components/landing/CallToActionLanding.astro";
import { getEntry } from "astro:content";
const call_to_action = await getEntry("sections", "call-to-action");
import HeroLanding from "../components/landing/HeroLanding.astro";
---

<Layout title="Welcome to Astro.">
  <HeroLanding />
  <div>
    <h1 class="text-3xl font-bold underline">Factory!</h1>
  </div>
  <div>
 <CallToAction call_to_action={call_to_action} />
  </div>
</Layout>
