---
import { getEntry } from "astro:content";
import CallToAction from "../components/landing/CallToActionLanding.astro";
import Contacto from "../components/landing/ContactoLanding.astro";
import FAQLanding from "../components/landing/FAQLanding.astro";
import HeroLanding from "../components/landing/HeroLanding.astro";
import NuestroProcesoLanding from "../components/landing/NuestroProcesoLanding.astro";
import Services from "../components/landing/ServicesLanding.astro";
import TechStackLanding from "../components/landing/TechStackLanding.astro";
import Layout from "../layouts/Layout.astro";

const call_to_action = await getEntry("sections", "call-to-action");
---

<Layout title="Factory">
  <main class="">
    <HeroLanding />
    <div>
      <Services />
    </div>
    <div class="pt-12">
      <NuestroProcesoLanding />
    </div>
    <div>
      <TechStackLanding />
    </div>
  </main>
  <div>
    <CallToAction call_to_action={call_to_action} />
  </div>
  <div class="mx-auto my-8">
    <FAQLanding />
  </div>
  <div class="bg-[#172554]">
    <Contacto />
  </div>
</Layout>
