---
import Header from "../components/global/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <div>
    <h1 class="text-3xl font-bold underline">Factory!</h1>
  </div>
</Layout>
