---
import Contacto from "../components/global/Contacto.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Factory">
  <main>
    <div>
      <h1 class="text-3xl font-bold underline">Factory!</h1>
    </div>
    <Contacto />
  </main>
</Layout>
