---
import NuestroProcesoLanding from "../components/landing/NuestroProcesoLanding.astro.astro"
import Layout from "../layouts/Layout.astro"

---

<Layout title="Welcome to Astro.">
  <div>
    <h1 class="text-3xl font-bold underline">Factory!</h1>
    <div><NuestroProcesoLanding/></div>
  </div>
</Layout>
