---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Recursos">
    <main class="min-h-screen max-w-screen-xl mx-auto pt-56">
       <!-- contenido de aqui -->
        <h1 class="text-4xl">
            Estas en la sección de Recursos
        </h1>
    </main>
</Layout>