---
    import Layout from "../../layouts/Layout.astro";
    import HeroResources from "../../components/landing/HeroResources.astro";
import ToolsLanding from "../../components/landing/ToolsLanding.astro";

export function getStaticPaths() {
    return [
        { params: { resource: "blog" } },
        { params: { resource: "tools" } },
    ];
}
---

<Layout title="Recursos">
    <main class="min-h-screen mx-auto">
       <!-- contenido de aqui -->
       
        <HeroResources/>
        <ToolsLanding/>
      
    </main>
</Layout>