---
---
<section class="bg-tcf-gray-l flex flex-col">

<div  class="flex flex-col  gap-5 md:flex-row">
   <!---Espacio para imagen o video -->
<div class="w-1/2">

</div>
<div class=" flex flex-col  " >
 <h2 class="font-bold text-2xl fon-inter">Proceso</h2>
 <div class="flex  flex-col  gap-10 ml-10 mt-8">
 <div class=" flex flex-row gap-2">
 <div>
    <p class="text-5xl font-bold">1.</p>
    </div> 
 <div>
 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, beatae ipsum ex, consequuntur voluptate nemo labore alias, placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum reiciendis ex quam iure nemo.</p>
 </div>
 </div>
 <div class=" flex flex-row gap-2">
 <div>
    <p class="text-5xl font-bold">2.</p>
    </div> 
 <div>
 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, beatae ipsum ex, consequuntur voluptate nemo labore alias, placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum reiciendis ex quam iure nemo.</p>
 </div>
</div>
<div class=" flex flex-row gap-2">
 <div>
    <p class="text-5xl font-bold">3.</p>
    </div> 
 <div>
 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, beatae ipsum ex, consequuntur voluptate nemo labore alias, placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum reiciendis ex quam iure nemo.</p>
 </div>
</div>
</div>
</div>  
</div>

<div class= "mt-6 ml-4 flex gap-5 flex-col md:flex-row">
    <div class=>
        <h2 class="font-bold text-2xl md:ml-4" >Metodología</h2>
        <div class="flex  flex-col  gap-8 ml-10 mt-8">
            <div class=" flex flex-row gap-2">
            <div>
               <p class="text-5xl font-bold">.</p>
               </div> 
            <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, beatae ipsum ex, consequuntur voluptate nemo labore alias, placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum reiciendis ex quam iure nemo.</p>
            </div>
            </div>
            <div class=" flex flex-row gap-2">
            <div>
               <p class="text-5xl font-bold">.</p>
               </div> 
            <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, beatae ipsum ex, consequuntur voluptate nemo labore alias, placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum reiciendis ex quam iure nemo.</p>
            </div>
           </div>
           <div class=" flex flex-row gap-2">
            <div>
               <p class="text-5xl font-bold">.</p>
               </div> 
            <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, beatae ipsum ex, consequuntur voluptate nemo labore alias, placeat aliquam ratione ab! Obcaecati, asperiores quisquam! Cum reiciendis ex quam iure nemo.</p>
            </div>
           </div>
           </div>
    </div>
    <!---Espacio para imagen o video -->
    <div class="w-1/2">
        
      

    </div>
</div>
</section>

<style>

</style>