---

---

<div class="bg-[#F2F4FF] h-screen rounded-[7px]">
  <section class="max-w-5xl mx-auto py-10 sm:py-20">
    <div class="flex items-center justify-center flex-col gap-y-2 py-5">
      <h2 class="text-2xl md:text-3xl lg:text-3xl font-bold">Preguntas Frecuentes</h2>
    </div>
    <div class="w-full px-7 md:px-10 xl:px-2 py-4">
      <div class="bg-[#F2F3FF]  mx-auto w-full max-w-5xl border border-slate-400/20 rounded-lg">
        <div class="border-b border-[#0A071B]/10">
          <button class="question-btn flex w-full items-start gap-x-5 justify-between rounded-lg text-left text-lg font-bold text-slate-800 focus:outline-none p-5" 
                  data-toggle="answer-1">
                  <span>Pregunta 1:</span>
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    class="mt-1.5 md:mt-0 flex-shrink-0 rotate-180 transform h-5 w-5 text-[#5B5675]"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="12" cy="12" r="12" fill="#D3D3D3" /> 
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z">   
                    </path>
                </svg>
            </button>
        <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-[#343E3A] font-medium" 
             id="answer-1"
             style="display: none;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur nulla repellat, 
            exercitationem voluptatem assumenda tempore, necessitatibus eaque corporis labore sit laborum recusandae magnam 
            incidunt in animi minus expedita ea architecto!.
        </div>
        </div>
        <div class="border-b border-[#0A071B]/10">
          <button class="question-btn flex w-full items-start gap-x-5 justify-between rounded-lg text-left text-lg font-bold text-slate-800 focus:outline-none p-5" 
                  data-toggle="answer-2">
                  <span>Pregunta 2:</span>
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    class="mt-1.5 md:mt-0 flex-shrink-0 rotate-180 transform h-5 w-5 text-[#5B5675]"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="12" cy="12" r="12" fill="#D3D3D3" /> 
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z">
                    </path>
                </svg>
            </button>
        <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-[#343E3A] font-medium" 
             id="answer-2"
             style="display: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim voluptatem 
            architecto voluptate dolorum soluta exercitationem molestias odit earum, sunt quaerat culpa hic 
            incidunt? Eum voluptates quas ea cumque quis dolore..
        </div>
        </div>
        <div class="border-b border-[#0A071B]/10">
          <button class="question-btn flex w-full items-start gap-x-5 justify-between rounded-lg text-left text-lg font-bold text-slate-800 focus:outline-none p-5" 
                  data-toggle="answer-3">
                  <span>Pregunta 3:</span>
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    class="mt-1.5 md:mt-0 flex-shrink-0 rotate-180 transform h-5 w-5 text-[#5B5675]"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="12" cy="12" r="12" fill="#D3D3D3" /> 
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z">
                    </path>
                </svg>
            </button>
        <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-[#343E3A] font-medium" 
             id="answer-3"
             style="display: none;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro deserunt 
            perspiciatis voluptate distinctio dolores ea, tempore dicta hic illum molestiae id, reprehenderit 
            earum, esse modi rerum sit provident? Odit, doloremque?
        </div>
        </div>
        <div class="">
          <button class="question-btn flex w-full items-start gap-x-5 justify-between rounded-lg text-left text-lg font-bold text-slate-800 focus:outline-none p-5" 
                  data-toggle="answer-4">
                  <span>Pregunta 4:</span>
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 24 24"
                    class="mt-1.5 md:mt-0 flex-shrink-0 rotate-180 transform h-5 w-5 text-[#5B5675]"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx="12" cy="12" r="12" fill="#D3D3D3" /> 
                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z">
                    </path>
                </svg>
            </button>
          <div class="answer pt-2 pb-5 px-5 text-sm lg:text-base text-[#343E3A] font-medium" 
               id="answer-4"
               style="display: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis soluta 
               laborum ipsa esse ipsum, numquam dolores doloremque cupiditate illum. Repellendus voluptatibus dicta, 
               sit corporis at debitis iusto quod sequi qui.
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('.question-btn');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const targetId = button.getAttribute('data-toggle');

        if (targetId) {
          const target = document.getElementById(targetId);

          if (target) {
            const isExpanded = target.style.display === 'block';

            if (isExpanded) {
              target.style.display = 'none';
              const svg = button.querySelector('svg'); 
              if (svg) { 
                svg.classList.remove('rotate-180');
              } else {
                console.error('SVG element not found within the button.');
              }
            } else {
              target.style.display = 'block';
              const svg = button.querySelector('svg');
              if (svg) {
                svg.classList.add('rotate-180');
              } else {
                console.error('SVG element not found within the button.');
              }
            }
          } else {
            console.error('Element with ID', targetId, 'not found.');
          }
        } else {
          console.error('Missing "data-toggle" attribute on button.');
        }
      });
    });
  });
</script>
