---
const year = new Date().getFullYear()
const footerItems = [
  { name: "Home", path: "/" },
  { name: "About", path: "/about" },
  { name: "Contact", path: "/contact" },
  { name: "Privacy", path: "/privacy" },
  { name: "Terms", path: "/terms" },
]
---

<footer class="bg-tc-black rounded-md shadow m-4 md:fixed md:bottom-0">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© {year}
      <a href="https://trycatch.tv/" class="hover:underline"> TryCatch.tv</a>
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      {
        footerItems.map((item) => (
          <li>
            <a href={item.path} class="mr-4 hover:underline md:mr-6">
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
