<section
  class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between"
>
  <article
    class="flex flex-col justify-center p-4 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left"
  >
    <h2
      class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
    >
      Software personalizado
    </h2>
    <p
      class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl dark:text-white"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      inventore architecto doloribus hic necessitatibus quos voluptas
      repudiandae, accusamus asperiores dignissimos fugiat autem nesciunt,
      perspiciatis quidem, ipsum quibusdam laudantium sunt consequuntur.
    </p>
    <div
      class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start"
    >
      <a
        href="#"
        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-gray-600 hover:bg-gray-800 focus:ring-4 focus:ring-gray-700 dark:focus:ring-gray-700"
        >Call to action</a
      >
      <a
        href="#"
        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-gray-600 hover:bg-gray-800 focus:ring-4 focus:ring-gray-700 dark:focus:ring-gray-700"
        >CTA</a
      >
    </div>
  </article>
  <div class="border-2 bg-gray-500 rounded-md xl:col-span-3 dark:bg-gray-500">
    <img
      class="object-cover w-full"
      src="/src/assets/img/nibble.png"
      alt="TryCatch.tv Nibble"
    />
  </div>
</section>
