<script is:inline>
    const servicesItems = [
        {
            imageService: "public/1.jpg",
            titleService: "Servicio uno",
            descriptionService: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates facere doloremque nemo odio, possimus adipisci fuga ea ut corporis ipsa ab sequi officiis, culpa aperiam ullam exercitationem cum quod?"
        },
        {
            imageService: "public/2.png",
            titleService: "Servicio dos",
            descriptionService: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates facere doloremque nemo odio, possimus adipisci fuga ea ut corporis ipsa ab sequi officiis, culpa aperiam ullam exercitationem cum quod?"
        },
        {
            imageService: "public/3.png",
            titleService: "Servicio tres",
            descriptionService: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates facere doloremque nemo odio, possimus adipisci fuga ea ut corporis ipsa ab sequi officiis, culpa aperiam ullam exercitationem cum quod?"
        },
        {
            imageService: "public/4.png",
            titleService: "Servicio cuatro",
            descriptionService: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates facere doloremque nemo odio, possimus adipisci fuga ea ut corporis ipsa ab sequi officiis, culpa aperiam ullam exercitationem cum quod?"
        },
        {
            imageService: "public/5.png",
            titleService: "Servicio cinco",
            descriptionService: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates facere doloremque nemo odio, possimus adipisci fuga ea ut corporis ipsa ab sequi officiis, culpa aperiam ullam exercitationem cum quod?"
        },
        {
            imageService: "public/6.png",
            titleService: "Servicio seis",
            descriptionService: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates facere doloremque nemo odio, possimus adipisci fuga ea ut corporis ipsa ab sequi officiis, culpa aperiam ullam exercitationem cum quod?"
        },
        {
            imageService: "public/7.png",
            titleService: "Servicio siete",
            descriptionService: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates facere doloremque nemo odio, possimus adipisci fuga ea ut corporis ipsa ab sequi officiis, culpa aperiam ullam exercitationem cum quod?"
        },
        {
            imageService: "public/8.png",
            titleService: "Servicio ocho",
            descriptionService: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates facere doloremque nemo odio, possimus adipisci fuga ea ut corporis ipsa ab sequi officiis, culpa aperiam ullam exercitationem cum quod?"
        },
        {
            imageService: "public/9.png",
            titleService: "Servicio nueve",
            descriptionService: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates facere doloremque nemo odio, possimus adipisci fuga ea ut corporis ipsa ab sequi officiis, culpa aperiam ullam exercitationem cum quod?"
        }
    
    ];
    
    let actualPage = 1;
    const showQuantity = 1;
    const numberPages = Math.ceil(servicesItems.length / showQuantity);
    
    function handleNextPage() {
        if (actualPage < numberPages) {
            actualPage++;
            renderServices();
        }
       
        
    }
     
    function handlePrevPage() {
        if (actualPage > 1) {
            actualPage--;
            renderServices();
        }
    }
    
    function renderServices() {
        const valueTwoSlice = actualPage * showQuantity;
        const valueOneSlice = valueTwoSlice - showQuantity;
        const finalServicesArray = servicesItems.slice(valueOneSlice, valueTwoSlice);
    
        const servicesContainer = document.querySelector('.services-container');
        servicesContainer.innerHTML = '';
    
        finalServicesArray.forEach(service => {
            const serviceElement = document.createElement('div');
            serviceElement.classList.add('flex-1', 'w-100', 'md:h-100','md:h-auto', 'rounded-lg', 'p-4');
            serviceElement.innerHTML = `
            <div class="max-w-100 mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
  <div class="md:flex">
    <img class="md:w-1/3 h-80 md:h-1/3 object-cover object-center " src=${service.imageService} alt="Imagen">
    <div class="md:w-2/3 p-4  flex flex-col justify-between">
  <div>
    <h2 class="text-xl font-bold text-gray-800 mb-2">${service.titleService}</h2>
    <p class="text-gray-600 mb-4">${service.descriptionService}</p>
  </div>
  <a href="#" class="mt-auto block bg-blue-950 text-white text-center font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-900 transition duration-300 ease-in-out">Ver Más</a>
</div>
       
  </div>
</div>
            `;
            servicesContainer.appendChild(serviceElement);
        });
    }
  
    
    window.onload = renderServices;
    </script>
    <div class="Services block">
    <div class="container mx-auto  flex items-center justify-center m-0">
     
        <div class="services-container flex flex-col w-4/5 h-3/5 md:flex-row gap-3 rounded-2xl">
            <!-- La lista de servicios se renderizará aquí -->
        </div>
   
    </div>
</div>